
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    background-color: aliceblue;
    font-family: Anta&display ;
}
li{
font-family: Pacifico&display ;
}